<div id="splash1">
	<h1 id="center">Welcome to Ship App</h1>
	<div id="splash">

	</div>

	<div id="splash_button"><button class="splash_button2"><%= link_to "Sign Up", new_user_path, :class => "thing5" %></button class="splash_button2">
		<button class="splash_button2"><%= link_to "Log In", log_in_path, :class => "thing5" %></button class="splash_button2"></div>
</div>